.popover {
	padding: unset;
	border: unset;

	&::backdrop {
		background-color: var( --sand-12 );
		opacity: 0.95;
	}

	figure {
		margin: unset;
	}

	img {
		display: block;
		max-inline-size: 100%;
		block-size: auto;
	}
}
