.popover {
	padding: unset;
	border: unset;

	&::backdrop {
		background-color: black;
		opacity: 0.85;
	}

	figure {
		margin: unset;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}
