.recent-posts {
	padding-inline-start: unset;

	li {
		display: flex;
		flex-direction: column;

		&:not( :last-child ) {
			margin-block-end: 1rem;
		}

		@media ( --sm-n-above ) {
			flex-direction: row;
			gap: 0.75rem;
		}
	}
}
