.site-nav {
	display: flex;
	align-items: center;
	gap: var( --size-3 );

	@media ( --sm-n-above ) {
		align-items: baseline;
	}

	a {
		color: inherit;
		text-decoration: unset;

		&:focus,
		&:hover {
			text-decoration: revert;
		}
	}
}
