.site-nav {
	display: flex;
	align-items: center;
	font-weight: 700;

	@media ( --small ) {
		align-items: baseline;
	}

	a {
		color: inherit;
		text-decoration: unset;

		&:focus,
		&:hover {
			text-decoration: revert;
		}
	}
}
