/* Screen size */
@custom-media --extra-small ( min-width: 320px );
@custom-media --small ( min-width: 640px );
@custom-media --medium ( min-width: 768px );
@custom-media --large ( min-width: 1024px );
@custom-media --extra-large ( min-width: 1280px );

/* Color scheme */
@custom-media --mode-dark ( prefers-color-scheme: dark );
@custom-media --mode-light ( prefers-color-scheme: light );
